$primary: #CF4647;
$primary-dark: darkred;

//FLAT COLORS

$turquesa: #1abc9c;
$turquesa2: #16a085;
$verde: #2ecc71;
$verde2: #27ae60;
$azul: #3498db;
$azul2: #2980b9;
$morado: #9b59b6;
$morado2: #8e44ad;
$rojo: #e74c3c;
$rojo2: #c0392b;
$naranja: #e67e22;
$naranja2: #d35400;
$amarillo: #f1c40f;
$amarillo2: #f39c12;
$gris: #ecf0f1;
$gris2: #bdc3c7;
$gris3: #95a5a6;
$gris4: #7f8c8d;
$marino: #34495e;
$marino2: #2c3e50;
